.intro {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
  
.Intro-header {
    background-color: white;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.image-container {
    max-width: 45vw;
    max-height: 45vh;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.my-photo {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    border-radius: 25px; /* Optional: Makes the photo a circle */
    margin-top: 20px;
}